@import '../../style.scss';

.cart {

   &__left {
      display: flex;
      align-items: center;
      gap: 30px;
   }

   &__right {
      display: flex;
      align-items: center;
      gap: 30px;
   }

   display: flex;
   flex-direction: column;
   gap: 30px;

   &__item {
      display: flex;
      align-items: center;
      gap: 40px;

      @media(max-width: $md) {
         flex-direction: column;
      }
   }

   &__image {
      width: 100px;
      height: 100px;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__name,
   &__number {
      font-weight: 700;
      color: $blackColor;
      font-size: 20px;
   }

   &__icon {
      cursor: pointer;
   }

   &__plusminus {
      display: flex;
      align-items: center;
      gap: 24px;
   }

   &__number {}

   &__totalPrice {
      color: $redColor;
      font-weight: 700;
      font-size: 20px;
   }

   &__delete {
      cursor: pointer;
   }

   &__cost {}

   &__discountedcost {}

   &__cost,
   &__discountedcost,
   .link {
      color: $blackColor;
      font-size: 20px;
      font-weight: 700;
   }

}

.link {
   transition: all .5s;

   &:hover {
      color: $redColor;
   }
}

.takeaway__form {
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-bottom: 30px;
}

.input__date {
   max-width: 700px;
   padding: 10px;
   border: #DBDFD0 1px solid;
   padding: 16px 24px;
   border-radius: 30px;
   color: #737865;
   font-size: 16px;
}

.h {
   text-align: center;

   a {
      color: $blackColor;
      font-size: 18px;
      transition: all .5s;

      &:hover {
         opacity: 0.5;
      }
   }
}