@import '../../style.scss';

.profile {
   &__client-discount {
      font-weight: 700;
      font-family: $dmsans;
      margin-bottom: 10px;
   }

   &__order-discount {
      margin-bottom: 10px;
      font-family: $dmsans;
   }

   &__red {
      color: $redColor;
   }

   &__form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 20px 0;
   }
}