.sidebar {
   background-color: #FAFAFA;
   width: 270px;
   height: 100%;
   border-right: rgba(35, 35, 33, 0.2) solid 1px;

   padding: 0 24px;

   font-family: $rubik;
   font-weight: 500;
}

.sidebar__logo {
   font-size: 24px;
   margin: 40px 0 50px 0;
}

.sidebar__menu {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.sidebar__item {
   font-size: 14px;
   color: #151514;
   text-transform: uppercase;
   cursor: pointer;
   padding: 15px 16px 15px 16px;
   transition: all .5s;
   border-radius: 8px;
}

.sidebar__item:hover {
   background-color: $blueColor;
   color: #fff;
}