@import '../../style.scss';

.title {
   font-family: $playfair;
   font-size: 44px;
   margin: 40px 0;
   text-align: center;
   color: $blackColor;

   @media (max-width: $lg) {
      margin: 20px 0;
      font-size: 34px;
   }

   @media (max-width: $sm) {
      margin: 15px 0;
      font-size: 26px;
   }
}