@import '../../style.scss';

.header {
   background-color: #fff;
   padding: 30px 0;

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__img {}

   &__item {
      color: $blackColor;
      font-weight: 500;
   }

   &__nav {
      display: flex;
      gap: 16px;
   }

   &__cart {
      display: flex;
   }

   &__signin {
      color: #182226;
      border: 1px $blackColor solid;
      padding: 12px 24px;
      border-radius: 30px;
      font-weight: 700;
      font-size: 16px;
   }

   &__right {
      display: flex;
      gap: 40px;
   }

   &__select {
      cursor: pointer;
      background-color: #F0F2F5;
      padding: 10px;
      border-radius: 14px;
      display: flex;
      gap: 10px;
   }
}

.dropdown {
   border: solid 1px #E8EDF2;
   width: 200px;
   bottom: -145%;
   left: 0;
   position: absolute;
   display: flex;
   flex-direction: column;
   gap: 10px;
   z-index: 100;
   background-color: #fff;
   padding: 6px 14px;
   border-radius: 14px;
   &__item {
      cursor: pointer;
   }
}

.user__info {
   user-select: none;
   position: relative;
   color: #0D141C;

   a {
      color: #0D141C;
   }
}